/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.secondary-bg-clr{
    background-color: #FFF8F3;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #181818;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    padding: 18px 35px;
    border: none;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
}
.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}
/* navigation styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 170px;
}
.nav-title{
    font-size: 45px;
    font-weight:800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;

}
.banner-description{
    font-size: 18px;
    font-weight: 400px;
}
.banner-profile-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

/* skills styles */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill p{
    font-size: 16px;
}
.skill{
    padding:30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-top: 50px;
}

/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    font-size: 16px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-subtitle{
    font-size: 20px;
    color: #181818;
    font-weight: 600px;
    margin-bottom: 30px;
}
.resume hr{
    margin: 30px 3px;
}
.resume-download-cv-btn{
    margin-top: 50px;
}

/* footer styles */
/* .footer-column-title{
    font-size: 35px;
    font-weight: bold;
    color: rgba(24, 24, 24, 1);
} */
/* .footer-input{
    display: flex;
    font-size: 16px;
    color: #181818;
    display: block;
    margin-bottom: 24px;
    border-radius: 5px; */

/* .footer-paragraph{
    font-size: 16;
    color:#474747; */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}